/* Default: Desktop */
.desktopNav {
  display: block;
}

.mobileNav {
  display: none;
}

/* Mobile */
@media (max-width: 700px) {
  .desktopNav {
    display: none;
  }

  .mobileNav {
    display: block;
  }
}
